html{box-sizing: border-box;}
*, *::before, *::after{box-sizing: inherit;}
.text{
    width: 400px;
    height: 200px;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 20px;
    margin: 30px 10px;
    border: 10px dashed red; 
    font-size: x-small; 

    background-color: aqua;
}

.text2{
    font-size: small;

    margin: 30px 10px;
    background-color: blueviolet;
    height: 200px;

    width: 400px;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 20px;
    border: 10px dashed red;
    box-sizing: border-box;
      
}
a{display: block;
background-color: chartreuse;
width: 200px;
height: 30px;}

h1{display: inline;}

.item, .item-1{
    width: 400px;
    height: 200px;
    padding: 20px 10px;
    margin: 30px;
    border: 10px solid red; 
    font-size: small; 
    background-color: aqua}
.item{position: relative;
    top: 100px;
    right: 100px;
    bottom: 100px;
    left: 100px;}
    

.sign, .sign-1{
    width: 400px;
    height: 200px;
    padding: 20px 10px;
    margin: 30px;
    border: 10px solid gray; 
    font-size: small; 
    background-color: coral;}
.sign{position: absolute;
    top: 970px;
    right: 400px;
    bottom: 400px;
    left: 500px;    
}
    
.action, .action-1{
    width: 400px;
    height: 200px;
    padding: 20px 10px;
    margin: 30px;
    border: 10px solid blue; 
    font-size: small; 
    background-color: greenyellow;}
.action{position: fixed;
    top: 600px;
    right: 200px;
    bottom: 200px;
    left: 150px;
}
    
.objects, .objects-1{ 
    width: 400px;
    height: 200px;
    padding: 20px 10px;
    margin: 30px;
    border: 10px solid green; 
    font-size: small; 

    background-color: palevioletred}
.objects{
    position: sticky;
    top: 30px;
    right: 200px;
    bottom: 200px;
    left: 150px;

}
