.text{
    width: 400px;
    height: 200px;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 20px;
    margin: 30px 10px;
    border: 10px dashed red;  

    background-color: aqua;
}

.text2{


    background-color: blueviolet;
}